################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TestOnline/.vs/
/TestOnline/TestOnLine.WebApi/obj
/TestOnline/TestOnLine.WebApi/bin
/TestOnline/TestOnLine.Business/obj
/TestOnline/TestOnLine.Business/bin
/TestOnline/TestOnLine.Dal/obj
/TestOnline/TestOnLine.Dal/bin
/TestOnline/TestOnLine.Common/obj
/TestOnline/TestOnLine.Common/bin